body{
    display: grid;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: medium;
    background-image: url(assets/img/OLD_PAPER_BG1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

input{
    background-color: transparent;
    border: none;
    width: 5vw;
    transition: 0.3s;
}

input:hover{
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#genderinput{
    width: 5vw;
}

#ageinput{
    width: 5vw;
    margin-left: 29px;
}

#dnd .body{
    background-color: rgba(119, 119, 119, 0.4);
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 75%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    transition: 0.3s;
}

#dnd .stats{
    background-color: rgba(119, 119, 119, 0.4);
    border: 1px solid;
    display: flex;
    flex-direction: column;
    gap: 1.5%;
    place-items: center;
    height: 85vh;
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
    float: left;
    transition: 0.3s;
}

#dnd .objetos{
    background-color: rgba(119, 119, 119, 0.4);
    border: 1px solid;
    display: grid;
    align-items: center;
    place-items: center;
    height: 95vh;
    width: 10.6%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
    float: right;
    transition: 0.3s;
}

#dnd .head{
    background-color: rgba(119, 119, 119, 0.4);
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-items: auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
    height: 10vh;
    width: 75%;
    transition: 0.3s;
    overflow: hidden;
}

#dnd .head .head-info{
    height: 10vh;
    width: 20%;
    display: inline-block;
}

#dnd .head::-webkit-scrollbar{
    display: none;
}

#dnd .head-img{
    background-color: rgba(119, 119, 119, 0.4);
    border: 1px solid;
    display: grid;
    align-items: center;
    place-items: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
    height: 10vh;
    width: 10%;
    float: left;
    transition: 0.3s;
}
 
#dnd .head-img:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
#dnd .head:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
#dnd .body:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
#dnd .objetos:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
#dnd .stats:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

a{
    text-decoration: none;
    color: inherit;
}

.stat_shape {
	border-bottom: 50px solid rgba(71, 71, 71, 0.4);
	border-left: 25px solid rgba(0, 0, 0, 0.4);
	border-right: 25px solid rgba(0, 0, 0, 0.4);
	height: 0;
	width: 100px;
    translate: 0% -15px;
}

.stat_mod{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid;
    height: 25px;
    width: 50px;
    translate: 0% -25px;
}

#strStat{
    width: 130%;
    height: 4vh;
    margin-top: 5%;
    translate: -12.5% 0%;
    text-align: center;
    font-size: larger;
}
#dexStat{
    width: 130%;
    height: 4vh;
    margin-top: 5%;
    translate: -12.5% 0%;
    text-align: center;
    font-size: larger;
}
#conStat{
    width: 130%;
    height: 4vh;
    margin-top: 5%;
    translate: -12.5% 0%;
    text-align: center;
    font-size: larger;
}
#intStat{
    width: 130%;
    height: 4vh;
    margin-top: 5%;
    translate: -12.5% 0%;
    text-align: center;
    font-size: larger;
}
#wisStat{
    width: 130%;
    height: 4vh;
    margin-top: 5%;
    translate: -12.5% 0%;
    text-align: center;
    font-size: larger;
}
#charStat{
    width: 130%;
    height: 4vh;
    margin-top: 5%;
    translate: -12.5% 0%;
    text-align: center;
    font-size: larger;
}

.stat_mod{
    text-align: center;
    font-size: larger;
}